---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  <div class="content">
    {{ content }}
  </div>

  {% if page.toc %}
    <nav class="toc" data-toc-depth="{{ page.toc_depth | default: 6 }}">
      <div class="toc-header">
        <h3>목차</h3>
        <button class="toc-toggle" aria-label="목차 접기">▲</button>
      </div>
      <div class="toc-body">
        {% toc %}
      </div>
    </nav>
  {% endif %}
  
</div>

{% if page.toc %}
  <script src="{{ "/assets/js/toc.js" | relative_url }}"></script>
{% endif %}

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>